<div class="Bg container mt-5 p-4">
  <h1>The Word Guessing Game</h1>
  <h2 class="h2-header text-center">Leaderboard</h2>
  
<div class="highscore-scroll-wrapper">
  {{#if scores.length}}
    <table class="table table-bordered table-striped text-center mt-4">
      <thead class="table-dark">
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Attempts</th>
          <th>Time (min:sec)</th>
          <th>Word</th>
          <th>Duplicates?</th>
        </tr>
      </thead>
      <tbody>
        {{#each scores}}
          <tr>
            <td>{{formattedDate}}</td>
            <td>{{name}}</td>
            <td>{{attempts}}</td>
            <td>{{formattedTime}}</td>
            <td>{{targetWord}}</td>
            <td>{{#if allowDuplicates}}✅{{else}}❌{{/if}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>
  {{else}}
    <p class="text-center mt-3">No highscores yet!</p>
  {{/if}}

  <div class="buttons">
    <a href="/" class="btn btn-success">Back to game</a>
    <a href="/info" class="btn btn-info">Project Info</a>
  </div>
</div>